# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pygame/Asset caches
.DS_Store

# Virtual environments
venv/
env/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/
*.swp

# Build artifacts
dist/
build/
*.spec
